/* v2.0 | 20110126
  http://meyerweb.com/eric/tools/css/reset/ 
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  /* font: inherit; */
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Pretendard-Light";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Medium";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-SemiBold";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Bold";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Black";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Black.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
::-moz-selection {
  background: #917b6a;
  color: white;
}
::selection {
  background: #917b6a;
  color: white;
}

body, html {
  font-family: "Pretendard-Regular";
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  border: none;
  z-index: -1;
}

.header-container {
  width: 100%;
  height: 90px;
  padding: 0px 60px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 999;
}
.header-container .logo > a {
  color: white;
  font-family: "Cormorant Garamond";
  font-style: italic;
  font-size: 40px;
}
.header-container .menu-wrapper {
  position: relative;
}
.header-container .menu-wrapper .menu-icon {
  height: 26px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
}
.header-container .menu-wrapper .menu-icon > i {
  width: 35px;
  height: 2px;
  background-color: white;
}
.header-container .menu-wrapper .menu-icon.on {
  gap: 0px;
}
.header-container .menu-wrapper .menu-icon.on > i:nth-child(1) {
  transform: translateY(50%) rotate(45deg);
}
.header-container .menu-wrapper .menu-icon.on > i:nth-child(2) {
  display: none;
}
.header-container .menu-wrapper .menu-icon.on > i:nth-child(3) {
  transform: translateY(-50%) rotate(-45deg);
}
.header-container .menu-wrapper > nav {
  position: absolute;
  top: 80px;
  right: 0px;
}
.header-container .menu-wrapper > nav .menu-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
  text-align: right;
}
.header-container .menu-wrapper > nav .menu-list:after {
  visibility: hidden;
  content: "";
  display: block;
  width: 140px;
  height: 220px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.7);
}
.header-container .menu-wrapper > nav .menu-list > li {
  visibility: hidden;
  color: #996f50;
  font-family: "Cormorant Garamond";
  font-size: 28px;
  cursor: pointer;
  z-index: 2;
}
.header-container .menu-wrapper > nav .menu-list.on:after {
  visibility: visible;
}
.header-container .menu-wrapper > nav .menu-list.on > li {
  visibility: visible;
}

.header-container.on {
  position: fixed;
  background-color: white;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}
.header-container.on .logo > a {
  color: #b0937e;
}
.header-container.on .menu-wrapper .menu-icon {
  display: none;
}
.header-container.on .menu-wrapper > nav {
  position: static;
}
.header-container.on .menu-wrapper > nav .menu-list {
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.header-container.on .menu-wrapper > nav .menu-list:after {
  display: none;
}
.header-container.on .menu-wrapper > nav .menu-list > li {
  visibility: visible;
  color: #d2baa6;
}

.footer-container {
  padding: 40px 60px;
  box-sizing: border-box;
  background-color: #f3f3f3;
  display: flex;
  justify-content: space-between;
}
.footer-container .text-wrapper .title {
  font-family: "Cormorant Garamond";
  font-size: 24px;
  color: #555555;
  margin-bottom: 12px;
}
.footer-container .text-wrapper > p {
  font-family: "Pretendard-Light";
  font-size: 18px;
  color: #999999;
  line-height: 1.4;
}
.footer-container .text-wrapper > p > span {
  font-family: "Pretendard-Medium";
}
.footer-container .icon-wrapper {
  display: flex;
  align-items: end;
  gap: 10px;
}
.footer-container .icon-wrapper > a {
  width: 40px;
  height: 40px;
}
.footer-container .icon-wrapper > a > img {
  width: 100%;
}
.footer-container .icon-wrapper .top-btn {
  width: 40px;
  height: 40px;
  background: url("../../images/footer_arrow.png") no-repeat center center/cover;
  cursor: pointer;
}

.main-container .visual-container {
  position: relative;
}
.main-container .visual-container .visual-text-box {
  position: absolute;
  top: 50%;
  left: 200px;
  transform: translateY(-50%);
}
.main-container .visual-container .visual-text-box > p {
  opacity: 0;
  font-family: "Pretendard-Medium";
  font-size: 70px;
  color: #fbf4e9;
  letter-spacing: 4px;
  line-height: 1.4;
  transform: translateY(50px);
  transition: 0.8s;
}
.main-container .visual-container .visual-text-box > p.on {
  opacity: 1;
  transform: translateY(0px);
}
.main-container .visual-container .visual-text-box > p > span {
  font-family: "Pretendard-black";
  color: white;
}
.main-container .visual-container .visual-text-box .visual-text02 {
  font-family: "Pretendard-black";
  color: white;
}
.main-container .visual-container .visual-bg {
  width: 100%;
}
.main-container .visual-container .visual-bg > img {
  width: 100%;
}
.main-container .about-container {
  padding: 150px 0px;
  box-sizing: border-box;
}
.main-container .about-container > .title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin-bottom: 50px;
}
.main-container .about-container > .title-wrapper .title {
  font-family: "Cormorant Garamond";
  font-style: italic;
  font-size: 35px;
  color: #d9c5b4;
  letter-spacing: 12px;
  position: relative;
  opacity: 0;
  transform: translateY(70px);
  transition: 0.5s;
}
.main-container .about-container > .title-wrapper .title:after {
  content: "";
  display: block;
  width: 30px;
  height: 1px;
  background-color: #d9c5b4;
  position: absolute;
  left: 50%;
  bottom: -14px;
  transform: translateX(-50%);
}
.main-container .about-container > .title-wrapper .title.on {
  opacity: 1;
  transform: translateY(0px);
}
.main-container .about-container > .title-wrapper .text-box {
  opacity: 0;
  transform: translateY(70px);
  transition: 0.5s;
}
.main-container .about-container > .title-wrapper .text-box.on {
  opacity: 1;
  transform: translateY(0px);
}
.main-container .about-container > .title-wrapper .text-box > p {
  font-family: "Pretendard-Medium";
  font-size: 22px;
  color: #555555;
  text-align: center;
  line-height: 1.5;
}
.main-container .about-container .profile-wrapper {
  margin: 0px auto;
  width: 800px;
  height: 260px;
  border: solid 1px #ece1d9;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  opacity: 0;
  transform: translateY(70px);
  transition: 0.5s;
}
.main-container .about-container .profile-wrapper.on {
  opacity: 1;
  transform: translateY(0px);
}
.main-container .about-container .profile-wrapper .img-box {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background-color: #f3f3f3;
  position: relative;
  overflow: hidden;
}
.main-container .about-container .profile-wrapper .img-box:hover > img:first-of-type {
  display: none;
}
.main-container .about-container .profile-wrapper .img-box:hover > img:last-of-type {
  display: block;
}
.main-container .about-container .profile-wrapper .img-box > img {
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 100px;
}
.main-container .about-container .profile-wrapper .img-box > img:last-of-type {
  display: none;
}
.main-container .about-container .profile-wrapper .text-box {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.main-container .about-container .profile-wrapper .text-box .name {
  font-family: "Pretendard-Light";
  font-size: 20px;
  color: #555555;
  display: flex;
  align-items: center;
  gap: 18px;
}
.main-container .about-container .profile-wrapper .text-box .name > img {
  width: 30px;
}
.main-container .about-container .profile-wrapper .text-box > a {
  font-family: "Pretendard-Light";
  font-size: 20px;
  color: #555555;
  display: flex;
  align-items: center;
  gap: 18px;
}
.main-container .about-container .profile-wrapper .text-box > a > img {
  width: 30px;
}
.main-container .skills-container {
  padding: 150px 0px;
  box-sizing: border-box;
  background-color: #f4efe7;
  opacity: 0;
  transform: translateX(-500px);
  transition: 0.5s;
}
.main-container .skills-container.on {
  opacity: 1;
  transform: translateX(0px);
}
.main-container .skills-container > .title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin-bottom: 50px;
}
.main-container .skills-container > .title-wrapper .title {
  font-family: "Cormorant Garamond";
  font-style: italic;
  font-size: 35px;
  color: #999999;
  letter-spacing: 12px;
  position: relative;
  opacity: 0;
  transform: translateY(70px);
  transition: 0.5s;
}
.main-container .skills-container > .title-wrapper .title:after {
  content: "";
  display: block;
  width: 30px;
  height: 1px;
  background-color: #999999;
  position: absolute;
  left: 50%;
  bottom: -14px;
  transform: translateX(-50%);
}
.main-container .skills-container > .title-wrapper .title.on {
  opacity: 1;
  transform: translateY(0px);
}
.main-container .skills-container > .title-wrapper .text-box {
  opacity: 0;
  transform: translateY(70px);
  transition: 0.5s;
}
.main-container .skills-container > .title-wrapper .text-box.on {
  opacity: 1;
  transform: translateY(0px);
}
.main-container .skills-container > .title-wrapper .text-box > p {
  font-family: "Pretendard-Medium";
  font-size: 22px;
  color: #917b6a;
  text-align: center;
  line-height: 1.5;
}
.main-container .skills-container .skill-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  opacity: 0;
  transform: translateY(70px);
  transition: 0.5s;
}
.main-container .skills-container .skill-wrapper.on {
  opacity: 1;
  transform: translateY(0px);
}
.main-container .skills-container .skill-wrapper .skill-box {
  width: 500px;
  height: 260px;
  padding: 30px 40px;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 8px 8px 8px rgba(185, 160, 143, 0.1);
}
.main-container .skills-container .skill-wrapper .skill-box > h3 {
  display: inline-block;
  font-family: "Cormorant Garamond";
  font-style: italic;
  font-size: 32px;
  color: #917b6a;
  text-indent: 4px;
  margin-bottom: 22px;
}
.main-container .skills-container .skill-wrapper .skill-box > h3:after {
  content: "";
  display: block;
  width: 105%;
  height: 1px;
  background-color: #917b6a;
  margin-top: 6px;
}
.main-container .skills-container .skill-wrapper .skill-box > li {
  font-family: "Pretendard-Light";
  font-size: 18px;
  color: #555555;
  line-height: 1.5;
}
.main-container .project-container {
  padding: 150px 0px;
  box-sizing: border-box;
}
.main-container .project-container > .title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin-bottom: 30px;
}
.main-container .project-container > .title-wrapper .title {
  font-family: "Cormorant Garamond";
  font-style: italic;
  font-size: 35px;
  color: #d9c5b4;
  letter-spacing: 12px;
  position: relative;
  opacity: 0;
  transform: translateY(70px);
  transition: 0.5s;
}
.main-container .project-container > .title-wrapper .title:after {
  content: "";
  display: block;
  width: 30px;
  height: 1px;
  background-color: #d9c5b4;
  position: absolute;
  left: 50%;
  bottom: -14px;
  transform: translateX(-50%);
}
.main-container .project-container > .title-wrapper .title.on {
  opacity: 1;
  transform: translateY(0px);
}
.main-container .project-container > .title-wrapper .text-box {
  opacity: 0;
  transform: translateY(70px);
  transition: 0.5s;
}
.main-container .project-container > .title-wrapper .text-box.on {
  opacity: 1;
  transform: translateY(0px);
}
.main-container .project-container > .title-wrapper .text-box > p {
  font-family: "Pretendard-Medium";
  font-size: 22px;
  color: #555555;
  text-align: center;
  line-height: 1.5;
}
.main-container .project-container .item-wrapper .project-slide {
  width: 1500px;
}
.main-container .project-container .item-wrapper .project-slide .swiper-wrapper .item-wrapper {
  background-color: #ece1d9;
  height: 500px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
  text-align: center;
  color: white;
  position: relative;
  overflow: hidden;
  margin-top: 20px;
  transition: 0.5s;
}
.main-container .project-container .item-wrapper .project-slide .swiper-wrapper .item-wrapper:hover {
  margin-top: 0px;
}
.main-container .project-container .item-wrapper .project-slide .swiper-wrapper .item-wrapper:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(79, 66, 57, 0.8);
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -2;
}
.main-container .project-container .item-wrapper .project-slide .swiper-wrapper .item-wrapper .item-title-box .clone {
  font-family: "Pretendard-Light";
  font-size: 22px;
  margin-bottom: 6px;
}
.main-container .project-container .item-wrapper .project-slide .swiper-wrapper .item-wrapper .item-title-box .clone.off {
  opacity: 0;
}
.main-container .project-container .item-wrapper .project-slide .swiper-wrapper .item-wrapper .item-title-box > h3 {
  font-family: "Pretendard-SemiBold";
  font-size: 34px;
  position: relative;
}
.main-container .project-container .item-wrapper .project-slide .swiper-wrapper .item-wrapper .item-title-box > h3:after {
  content: "";
  display: block;
  width: 30px;
  height: 1px;
  background-color: white;
  position: absolute;
  left: 50%;
  bottom: -24px;
  transform: translateX(-50%);
}
.main-container .project-container .item-wrapper .project-slide .swiper-wrapper .item-wrapper .skill {
  font-family: "pretendard-Light";
  font-size: 20px;
  line-height: 1.3;
}
.main-container .project-container .item-wrapper .project-slide .swiper-wrapper .item-wrapper .item-btn {
  display: block;
  padding: 14px 50px;
  box-sizing: border-box;
  border: solid 1px white;
  border-radius: 50px;
  font-family: "Cormorant Garamond";
  font-style: italic;
  font-size: 20px;
  color: white;
  transition: 0.5s;
  position: relative;
  overflow: hidden;
}
.main-container .project-container .item-wrapper .project-slide .swiper-wrapper .item-wrapper .item-btn:after {
  content: "";
  display: block;
  width: 0%;
  height: 100%;
  background-color: white;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  transition: 0.5s;
}
.main-container .project-container .item-wrapper .project-slide .swiper-wrapper .item-wrapper .item-btn:hover {
  color: #594c42;
}
.main-container .project-container .item-wrapper .project-slide .swiper-wrapper .item-wrapper .item-btn:hover:after {
  width: 100%;
}
.main-container .project-container .item-wrapper .project-slide .swiper-wrapper .item-wrapper > img {
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -2;
  transition: 0.5s;
}
.main-container .project-container .item-wrapper .project-slide .swiper-wrapper .item01,
.main-container .project-container .item-wrapper .project-slide .swiper-wrapper .item02,
.main-container .project-container .item-wrapper .project-slide .swiper-wrapper .item03,
.main-container .project-container .item-wrapper .project-slide .swiper-wrapper .item04 {
  opacity: 0;
  transform: translateY(70px);
}
.main-container .project-container .item-wrapper .project-slide .swiper-wrapper .item01.on,
.main-container .project-container .item-wrapper .project-slide .swiper-wrapper .item02.on,
.main-container .project-container .item-wrapper .project-slide .swiper-wrapper .item03.on,
.main-container .project-container .item-wrapper .project-slide .swiper-wrapper .item04.on {
  opacity: 1;
  transform: translateY(0px);
}
.main-container .project-container .item-wrapper .slide-btn-wrapper {
  margin-top: 50px;
  width: 100%;
  height: 35px;
  position: relative;
  opacity: 0;
  transform: translateY(70px);
  transition: 0.5s;
}
.main-container .project-container .item-wrapper .slide-btn-wrapper.on {
  opacity: 1;
  transform: translateY(0px);
}
.main-container .project-container .item-wrapper .slide-btn-wrapper .slide-btn-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  gap: 110px;
}
.main-container .project-container .item-wrapper .slide-btn-wrapper .slide-btn-box .slide-btn-left,
.main-container .project-container .item-wrapper .slide-btn-wrapper .slide-btn-box .slide-btn-right {
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 50px;
  background: url("../images/project_arrow.png") no-repeat center center/cover;
  cursor: pointer;
}
.main-container .project-container .item-wrapper .slide-btn-wrapper .slide-btn-box .slide-btn-right {
  transform: rotate(180deg);
}
.main-container .project-container .item-wrapper .slide-btn-wrapper .swiper-pagination {
  width: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  gap: 8px;
}
.main-container .project-container .item-wrapper .slide-btn-wrapper .swiper-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #e1e1e1;
  opacity: 1;
}
.main-container .project-container .item-wrapper .slide-btn-wrapper .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #cba990;
}

@media screen and (max-width: 1920px) {
  .main-container .visual-container .visual-bg {
    width: auto;
    height: 676px;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }
  .main-container .visual-container .visual-bg > img {
    width: auto;
    height: 100%;
  }
}
@media screen and (max-width: 1400px) {
  .main-container .visual-container .visual-text-box {
    left: 120px;
  }
  .main-container .visual-container .visual-text-box > p {
    font-size: 60px;
    line-height: 1.5;
  }
  .main-container .skills-container .skill-wrapper {
    gap: 20px;
  }
  .main-container .skills-container .skill-wrapper .skill-box {
    width: 400px;
    height: 290px;
  }
  .main-container .project-container .item-wrapper .project-slide {
    width: 1100px;
  }
}
@media screen and (max-width: 1024px) {
  .header-container {
    height: 60px;
    padding: 0px 40px;
  }
  .header-container .logo > a {
    color: white;
    font-family: "Cormorant Garamond";
    font-style: italic;
    font-size: 30px;
  }
  .header-container .menu-wrapper .menu-icon {
    gap: 6px;
  }
  .header-container .menu-wrapper .menu-icon > i {
    width: 30px;
  }
  .header-container .menu-wrapper > nav {
    top: 70px;
  }
  .header-container .menu-wrapper > nav .menu-list:after {
    width: 124px;
    height: 200px;
  }
  .header-container .menu-wrapper > nav .menu-list > li {
    font-size: 24px;
  }
  .main-container .visual-container .visual-text-box {
    left: 90px;
  }
  .main-container .visual-container .visual-text-box > p {
    font-size: 42px;
    line-height: 1.6;
  }
  .main-container .visual-container .visual-bg {
    height: 480px;
  }
  .main-container .about-container > .title-wrapper .text-box > p {
    font-family: "Pretendard-Medium";
    font-size: 18px;
    color: #555555;
    text-align: center;
    line-height: 1.5;
  }
  .main-container .about-container .profile-wrapper {
    width: 735px;
    height: 225px;
    gap: 70px;
  }
  .main-container .about-container .profile-wrapper .img-box {
    width: 170px;
    height: 170px;
  }
  .main-container .about-container .profile-wrapper .text-box {
    gap: 12px;
  }
  .main-container .about-container .profile-wrapper .text-box .name {
    font-size: 17px;
    gap: 14px;
  }
  .main-container .about-container .profile-wrapper .text-box .name > img {
    width: 26px;
  }
  .main-container .about-container .profile-wrapper .text-box > a {
    font-size: 17px;
    gap: 14px;
  }
  .main-container .about-container .profile-wrapper .text-box > a > img {
    width: 26px;
  }
  .main-container .skills-container > .title-wrapper .text-box > p {
    font-family: "Pretendard-Medium";
    font-size: 18px;
    color: #917b6a;
    text-align: center;
    line-height: 1.5;
  }
  .main-container .skills-container .skill-wrapper {
    flex-direction: column;
  }
  .main-container .skills-container .skill-wrapper .skill-box {
    width: 680px;
    height: 210px;
  }
  .main-container .skills-container .skill-wrapper .skill-box > h3 {
    font-size: 26px;
    margin-bottom: 16px;
  }
  .main-container .skills-container .skill-wrapper .skill-box > li {
    font-size: 17px;
  }
  .main-container .project-container > .title-wrapper .text-box > p {
    font-family: "Pretendard-Medium";
    font-size: 18px;
    color: #555555;
    text-align: center;
    line-height: 1.5;
  }
  .main-container .project-container .item-wrapper .project-slide {
    width: 780px;
  }
  .main-container .project-container .item-wrapper .project-slide .swiper-wrapper .item-wrapper .item-title-box .clone {
    font-size: 18px;
    margin-bottom: 4px;
  }
  .main-container .project-container .item-wrapper .project-slide .swiper-wrapper .item-wrapper .item-title-box > h3 {
    font-size: 30px;
  }
  .main-container .project-container .item-wrapper .project-slide .swiper-wrapper .item-wrapper .item-title-box > h3:after {
    bottom: -20px;
  }
  .main-container .project-container .item-wrapper .project-slide .swiper-wrapper .item-wrapper .skill {
    font-size: 18px;
    line-height: 1.5;
  }
  .main-container .project-container .item-wrapper .project-slide .swiper-wrapper .item-wrapper .item-btn {
    font-size: 18px;
  }
  .main-container .project-container .item-wrapper .slide-btn-wrapper .slide-btn-box .slide-btn-left,
  .main-container .project-container .item-wrapper .slide-btn-wrapper .slide-btn-box .slide-btn-right {
    width: 28px;
    height: 28px;
  }
  .main-container .project-container .item-wrapper .slide-btn-wrapper .swiper-pagination {
    width: 100px;
    gap: 6px;
  }
  .main-container .project-container .item-wrapper .slide-btn-wrapper .swiper-pagination .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
  }
  .footer-container {
    padding: 30px 40px;
  }
  .footer-container .text-wrapper .title {
    font-size: 22px;
    margin-bottom: 8px;
  }
  .footer-container .text-wrapper > p {
    font-size: 16px;
    line-height: 1.5;
  }
}
@media screen and (max-width: 768px) {
  .header-container {
    background-color: white;
    justify-content: center;
    position: static;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  }
  .header-container .logo > a {
    color: #b0937e;
  }
  .header-container .menu-wrapper {
    display: none;
  }
  .header-container.on {
    position: fixed;
  }
  .main-container .visual-container .visual-text-box {
    left: 55px;
  }
  .main-container .visual-container .visual-text-box > p {
    font-size: 30px;
    line-height: 1.6;
  }
  .main-container .visual-container .visual-bg {
    height: 355px;
  }
  .main-container .about-container {
    padding: 120px 0px;
  }
  .main-container .about-container > .title-wrapper {
    gap: 40px;
    margin-bottom: 34px;
  }
  .main-container .about-container > .title-wrapper .title {
    font-family: "Cormorant Garamond";
    font-style: italic;
    font-size: 30px;
    color: #d9c5b4;
    letter-spacing: 12px;
    position: relative;
  }
  .main-container .about-container > .title-wrapper .title:after {
    content: "";
    display: block;
    width: 30px;
    height: 1px;
    background-color: #d9c5b4;
    position: absolute;
    left: 50%;
    bottom: -14px;
    transform: translateX(-50%);
  }
  .main-container .about-container > .title-wrapper .text-box {
    width: 374px;
  }
  .main-container .about-container > .title-wrapper .text-box > p {
    font-family: "Pretendard-Medium";
    font-size: 16px;
    color: #555555;
    text-align: center;
    line-height: 2;
  }
  .main-container .about-container .profile-wrapper {
    width: 560px;
    height: 210px;
    gap: 40px;
  }
  .main-container .about-container .profile-wrapper .img-box {
    width: 150px;
    height: 150px;
  }
  .main-container .about-container .profile-wrapper .text-box .name {
    font-family: "Pretendard-Regular";
    font-size: 15px;
  }
  .main-container .about-container .profile-wrapper .text-box .name > img {
    width: 22px;
  }
  .main-container .about-container .profile-wrapper .text-box > a {
    font-family: "Pretendard-Regular";
    font-size: 15px;
  }
  .main-container .about-container .profile-wrapper .text-box > a > img {
    width: 22px;
  }
  .main-container .skills-container {
    padding: 120px 0px;
  }
  .main-container .skills-container > .title-wrapper {
    gap: 40px;
    margin-bottom: 34px;
  }
  .main-container .skills-container > .title-wrapper .title {
    font-family: "Cormorant Garamond";
    font-style: italic;
    font-size: 30px;
    color: #999999;
    letter-spacing: 12px;
    position: relative;
  }
  .main-container .skills-container > .title-wrapper .title:after {
    content: "";
    display: block;
    width: 30px;
    height: 1px;
    background-color: #999999;
    position: absolute;
    left: 50%;
    bottom: -14px;
    transform: translateX(-50%);
  }
  .main-container .skills-container > .title-wrapper .text-box {
    width: 390px;
  }
  .main-container .skills-container > .title-wrapper .text-box > p {
    font-family: "Pretendard-Medium";
    font-size: 16px;
    color: #917b6a;
    text-align: center;
    line-height: 2;
  }
  .main-container .skills-container .skill-wrapper .skill-box {
    width: 500px;
    height: 224px;
    padding: 24px 34px;
  }
  .main-container .skills-container .skill-wrapper .skill-box > li {
    font-family: "Pretendard-Regular";
    font-size: 16px;
  }
  .main-container .project-container {
    padding: 120px 0px;
  }
  .main-container .project-container > .title-wrapper {
    gap: 40px;
    margin-bottom: 34px;
  }
  .main-container .project-container > .title-wrapper .title {
    font-family: "Cormorant Garamond";
    font-style: italic;
    font-size: 30px;
    color: #d9c5b4;
    letter-spacing: 12px;
    position: relative;
  }
  .main-container .project-container > .title-wrapper .title:after {
    content: "";
    display: block;
    width: 30px;
    height: 1px;
    background-color: #d9c5b4;
    position: absolute;
    left: 50%;
    bottom: -14px;
    transform: translateX(-50%);
  }
  .main-container .project-container > .title-wrapper .text-box {
    width: 600px;
  }
  .main-container .project-container > .title-wrapper .text-box > p {
    font-family: "Pretendard-Medium";
    font-size: 16px;
    color: #555555;
    text-align: center;
    line-height: 2;
  }
  .main-container .project-container .item-wrapper .project-slide {
    width: 100%;
  }
  .main-container .project-container .item-wrapper .slide-btn-wrapper {
    display: none;
  }
  .footer-container {
    padding: 40px 0px;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    gap: 26px;
    text-align: center;
  }
  .footer-container .icon-wrapper {
    gap: 14px;
  }
  .footer-container .icon-wrapper > a {
    width: 35px;
    height: 35px;
  }
  .footer-container .icon-wrapper .top-btn {
    width: 35px;
    height: 35px;
  }
}