.main-container{
    .visual-container{
        position: relative;

        .visual-text-box{
            position: absolute;
            top: 50%;
            left: 200px;
            transform: translateY(-50%);

            & > p{
                opacity: 0;
                font-family: 'Pretendard-Medium';
                font-size: 70px;
                color: #fbf4e9;
                letter-spacing: 4px;
                line-height: 1.4;
                transform: translateY(50px);
                transition: 0.8s;

                &.on{
                    opacity: 1;
                    transform: translateY(0px);
                }

                & > span{
                    font-family: 'Pretendard-black';
                    color: white;
                }
            }

            .visual-text02{
                font-family: 'Pretendard-black';
                color: white;
            }
        }

        .visual-bg{
            width: 100%;
            
            & > img{
                width: 100%;
            }
        }
    } //visual

    .about-container{
        padding: 150px 0px;
        box-sizing: border-box;

        & > .title-wrapper{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 50px;
            margin-bottom: 50px;

            .title{
                @include title($brownLight);
                opacity: 0;
                transform: translateY(70px);
                transition: 0.5s;

                &.on{
                    opacity: 1;
                    transform: translateY(0px);
                }
            }

            .text-box{
                opacity: 0;
                transform: translateY(70px);
                transition: 0.5s;

                &.on{
                    opacity: 1;
                    transform: translateY(0px);
                }

                & > p{
                    @include text($grayDark);
                }
            }
        }

        .profile-wrapper{
            margin: 0px auto;
            width: 800px;
            height: 260px;
            border: solid 1px #ece1d9;
            border-radius: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 80px;
            opacity: 0;
            transform: translateY(70px);
            transition: 0.5s;

            &.on{
                opacity: 1;
                transform: translateY(0px);
            }
            
            .img-box{
                width: 200px;
                height: 200px;
                border-radius: 100px;
                background-color: #f3f3f3;
                position: relative;
                overflow: hidden;

                &:hover > img{
                    &:first-of-type{
                        display: none;
                    }
                    
                    &:last-of-type{
                        display: block;
                    }
                }

                & > img{
                    width: 100%;
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    border-radius: 100px;

                    &:last-of-type{
                        display: none;
                    }
                }
            }

            .text-box{
                display: flex;
                flex-direction: column;
                gap: 14px;

                .name{
                    font-family: 'Pretendard-Light';
                    font-size: 20px;
                    color: $grayDark;
                    display: flex;
                    align-items: center;
                    gap: 18px;
                    
                    & > img{
                        width: 30px;
                    }
                }

                & > a{
                    font-family: 'Pretendard-Light';
                    font-size: 20px;
                    color: $grayDark;
                    display: flex;
                    align-items: center;
                    gap: 18px;

                    & > img{
                        width: 30px;
                    }
                }
            }
        }
    }//about

    .skills-container{
        padding: 150px 0px;
        box-sizing: border-box;
        background-color: #f4efe7;
        opacity: 0;
        transform: translateX(-500px);
        transition: 0.5s;

        &.on{
            opacity: 1;
            transform: translateX(0px);
        }

        & > .title-wrapper{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 50px;
            margin-bottom: 50px;

            .title{
                @include title($gray);
                opacity: 0;
                transform: translateY(70px);
                transition: 0.5s;

                &.on{
                    opacity: 1;
                    transform: translateY(0px);
                }
            }

            .text-box{
                opacity: 0;
                transform: translateY(70px);
                transition: 0.5s;

                &.on{
                    opacity: 1;
                    transform: translateY(0px);
                }

                & > p{
                    @include text($brown);
                }
            }
        }

        .skill-wrapper{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 30px;
            opacity: 0;
            transform: translateY(70px);
            transition: 0.5s;

            &.on{
                opacity: 1;
                transform: translateY(0px);
            }

            .skill-box{
                width: 500px;
                height: 260px;
                padding: 30px 40px;
                box-sizing: border-box;
                background-color: white;
                box-shadow: 8px 8px 8px rgba(185, 160, 143, 0.1);

                & > h3{
                    display: inline-block;
                    font-family: 'Cormorant Garamond';
                    font-style: italic;
                    font-size: 32px;
                    color: $brown;
                    text-indent: 4px;
                    margin-bottom: 22px;

                    &:after{
                        content: "";
                        display: block;
                        width: 105%;
                        height: 1px;
                        background-color: $brown;
                        margin-top: 6px;
                    }
                }

                & > li{
                    font-family: 'Pretendard-Light';
                    font-size: 18px;
                    color: $grayDark;
                    line-height: 1.5;
                }
            }
        }
    }//skills
}