@media screen and (max-width:1920px) {
    .main-container{
        .visual-container{
            .visual-bg{
                width: auto;
                height: 676px;
                overflow: hidden;
                display: flex;
                justify-content: center;
                
                & > img{
                    width: auto;
                    height: 100%;
                }
            }
        }
    }   
}

@media screen and (max-width:1400px) {
    .main-container{
        .visual-container{
            .visual-text-box{
                left: 120px;

                & > p{
                    font-size: 60px;
                    line-height: 1.5;
                }
            }
        }

        .skills-container{
            .skill-wrapper{
                gap: 20px;

                .skill-box{
                    width: 400px;
                    height: 290px;
                }
            }
        }

        .project-container{
            .item-wrapper{
                .project-slide{
                    width: 1100px;
                }
            }
        }
    }   
}

@media screen and (max-width:1024px) {
    .header-container{
        height: 60px;
        padding: 0px 40px;

        .logo{
            & > a{
                color: white;
                font-family: 'Cormorant Garamond';
                font-style: italic;
                font-size: 30px;
            }
        }

        .menu-wrapper{
            .menu-icon{
                gap: 6px;

                & > i{
                    width: 30px;
                }
            }

            & > nav{
                top: 70px;

                .menu-list{
                    &:after{
                        width: 124px;
                        height: 200px;
                    }

                    & > li{
                        font-size: 24px;
                    }
                }
            }
        }
    }

    .main-container{
        .visual-container{
            .visual-text-box{
                left: 90px;
                
                & > p{
                    font-size: 42px;
                    line-height: 1.6;
                }
            }

            .visual-bg{
                height: 480px;
            }
        }

        .about-container{
            & > .title-wrapper{
                .text-box{
                    & > p{
                        @include text($grayDark, 18px);
                    }
                }
            }

            .profile-wrapper{
                width: 735px;
                height: 225px;
                gap: 70px;

                .img-box{
                    width: 170px;
                    height: 170px;
                }

                .text-box{
                    gap: 12px;
                    
                    .name{
                        font-size: 17px;
                        gap: 14px;

                        & > img{
                            width: 26px;
                        }
                    }

                    & > a{
                        font-size: 17px;
                        gap: 14px;

                        & > img{
                            width: 26px;
                        }
                    }
                }
            }
        }

        .skills-container{
            & > .title-wrapper{
                .text-box{
                    & > p{
                        @include text($brown, 18px);
                    }
                }
            }
            
            .skill-wrapper{
                flex-direction: column;

                .skill-box{
                    width: 680px;
                    height: 210px;

                    & > h3{
                        font-size: 26px;
                        margin-bottom: 16px;
                    }

                    & > li{
                        font-size: 17px;
                    }
                }
            }
        }

        .project-container{
            & > .title-wrapper{
                .text-box{
                    & > p{
                        @include text($grayDark, 18px);
                    }
                }
            }

            .item-wrapper{
                .project-slide{
                    width: 780px;

                    .swiper-wrapper{
                        .item-wrapper{
                            .item-title-box{
                                .clone{
                                    font-size: 18px;
                                    margin-bottom: 4px;
                                }

                                & > h3{
                                    font-size: 30px;

                                    &:after{
                                        bottom: -20px;
                                    }
                                }
                            }

                            .skill{
                                font-size: 18px;
                                line-height: 1.5;
                            }

                            .item-btn{
                                font-size: 18px;
                            }
                        }
                    }
                }

                .slide-btn-wrapper{
                    .slide-btn-box{
                        .slide-btn-left,
                        .slide-btn-right{
                            width: 28px;
                            height: 28px;
                        }
                    }

                    .swiper-pagination{
                        width: 100px;
                        gap: 6px;

                        .swiper-pagination-bullet{
                            width: 8px;
                            height: 8px;
                        }
                    }
                }


            }
        }
    }
}

@media screen and (max-width:768px) {
    .header-container{
        background-color: white;
        justify-content: center;
        position: static;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);

        .logo{
            & > a{
                color: #b0937e;
            }
        }

        .menu-wrapper{
            display: none;
        }

        &.on{
            position: fixed;
        }
    }

    .main-container{
        .visual-container{
            .visual-text-box{
                left: 55px;

                & > p{
                    font-size: 30px;
                    line-height: 1.6;
                }
            }

            .visual-bg{
                height: 355px;
            }
        }

        .about-container{
            padding: 120px 0px;

            & > .title-wrapper{
                gap: 40px;
                margin-bottom: 34px;

                .title{
                    @include title($brownLight, 30px);
                }

                .text-box{
                    width: 374px;

                    & > p{
                        @include text($grayDark, 16px, 2);
                    }
                }
            }

            .profile-wrapper{
                width: 560px;
                height: 210px;
                gap: 40px;

                .img-box{
                    width: 150px;
                    height: 150px;
                }

                .text-box{
                    .name{
                        font-family: 'Pretendard-Regular';
                        font-size: 15px;

                        & > img{
                            width: 22px;
                        }
                    }

                    & > a{
                        font-family: 'Pretendard-Regular';
                        font-size: 15px;

                        & > img{
                            width: 22px;
                        }
                    }
                }
            }
        }

        .skills-container{
            padding: 120px 0px;

            & > .title-wrapper{
                gap: 40px;
                margin-bottom: 34px;

                .title{
                    @include title($gray, 30px);
                }

                .text-box{
                    width: 390px;

                    & > p{
                        @include text($brown, 16px, 2);
                    }
                }
            }
            
            .skill-wrapper{
                .skill-box{
                    width: 500px;
                    height: 224px;
                    padding: 24px 34px;

                    & > li{
                        font-family: 'Pretendard-Regular';
                        font-size: 16px;
                    }
                }
            }
        }

        .project-container{
            padding: 120px 0px;

            & > .title-wrapper{
                gap: 40px;
                margin-bottom: 34px;

                .title{
                    @include title($brownLight, 30px);
                }

                .text-box{
                    width: 600px;

                    & > p{
                        @include text($grayDark, 16px, 2);
                    }
                }
            }

            .item-wrapper{
                .project-slide{
                    width: 100%;
                }

                .slide-btn-wrapper{
                    display: none;
                }
            }
        }
    }
}