::selection{
    background: $brown;
    color: white;
}

html{
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    // scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
}
  
// html::-webkit-scrollbar{
//     display: none; /* for Chrome, Safari, and Opera */
// }

body, html{
    font-family: 'Pretendard-Regular';
}

.blind{
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
    border: none;
    z-index: -1;
}